body {
  text-align: center; }

body > menu {
  margin: 0;
  padding: 0.5em; }

body > menu > a {
  color: black;
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none; }

body > menu > a .label {
  display: block;

body > menu > a:hover .label {
  color: tomato; }

img.logo {
  height: 27em; }