body {
  font-family: Verdana;
  margin: 0; }

body > menu {
  margin: 0;
  padding: 0.5em; }

body > menu > a {
  display: inline-block;
  text-decoration: none;
  color: black; }

a {
  text-decoration: none;
  color: blueviolet; }

header {
  border-style: solid;
  border-width: 0px;
  text-align: center; }

dt {
  clear: left;
  float: left; }

dd {
  float: right; }

.bar {
  background-color: rgba(240, 248, 255, 0.8);
  margin: 0;
  padding: 0.2em;
  margin-bottom: 1em; }

.bar nav {
  float: left; }

.bar nav .home,
.bar nav .challenges,
.bar nav .exams,
.bar nav .students {
  display: inline-block;
  vertical-align: middle; }

.bar nav .home img {
  height: 3em; }

.bar nav .challenges img,
.bar nav .exams img,
.bar nav .students img {
  height: 2em; }

.bar section.user {
  float: right; }

.bar hr.clear {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0; }

body > footer {
  background-color: aliceblue;
  clear: left;
  margin-top: 1em;
  padding-top: 0.2em;
  text-align: center; }

section.authenticate {
  text-align: center; }

section.authenticate .error {
  color: red; }

form[name="authenticate"] {
  text-align: center; }

form[name="authenticate"] input[type="password"],
form[name="authenticate"] input[type="text"] {
  margin: 0.2em;
  text-align: center;
  width: 20em; }

form[name="authenticate"] input[type="submit"] {
  width: 8em;
  margin: 0.2em; }