/** General styling **/
body {
  font-family: Verdana;
  margin: 0;
  zoom: 0.8; }

a {
  text-decoration: none;
  color: chocolate; }

header {
  border-style: solid;
  border-width: 0px;
  text-align: center; }

dt {
  clear: left;
  float: left;
  font-size: 0.8rem; }

dd {
  float: right; }

section {
  text-align: center; }

section > header {
  font-size: 2rem; }

section > article {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 0.2em;
  display: inline-block;
  margin: 0.2em;
  padding: 0.5em;
  width: 18em; }

section > article > header {
  font-size: 2rem; }

section > article > h2 {
  font-size: 0.8rem;
  float: left;
  clear: left;
  margin: 0;
  padding: 0.1em; }

section > article span {
  vertical-align: middle; }

/** Bar / Header / Navigation / whatever.. **/
.bar {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0.2em;
  margin-bottom: 1em; }

.bar nav {
  float: left; }

.bar nav .home,
.bar nav .challenges,
.bar nav .exams,
.bar nav .students {
  display: inline-block;
  vertical-align: middle; }

.bar nav .home img {
  height: 3em; }

.bar nav .challenges img,
.bar nav .exams img,
.bar nav .students img {
  height: 2em; }

.bar section.user {
  float: right; }

.bar hr.clear {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0; }

/** Footer / About / Meta **/
body > footer {
  color: white;
  background-color: black;
  clear: left;
  margin-top: 1em;
  padding-top: 0.2em;
  text-align: center; }

/** Authentication **/
section.authenticate {
  text-align: center; }

section.authenticate .error {
  color: red; }

form[name="authenticate"] {
  text-align: center; }

form[name="authenticate"] input[type="password"],
form[name="authenticate"] input[type="text"] {
  margin: 0.2em;
  text-align: center;
  width: 20em; }

form[name="authenticate"] input[type="submit"] {
  width: 8em;
  margin: 0.2em; }